<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'BootGridApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'BootGridApp/css/base.css' %}">
    <script src="{% static 'BootGridApp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'BootGridApp/js/bootstrap.js' %}"></script>

</head>
<body>

<h1 class="jumbotron">Welcome to BootGrid Page</h1>
{% block content %}
<h3>Nothing for block content</h3>
{% endblock content %}

</body>
</html>